@model IEnumerable<Department>
@{
    ViewData["Title"] = "All Departments";
}

@if (TempData["Message"] is not null)
{
    <div id="tempAlert" class="alert alert-success">
        @TempData["Message"]
    </div>

    <script>
        setTimeout(function () {
            var alertBox = document.getElementById("tempAlert");
            if (alertBox) {
                alertBox.style.display = "none";
            }
        }, 5000); // 5000 ms = 5 ثواني
    </script>
}

<a asp-action="Create" class="btn btn-success mb-3">Create New Department</a>

@if(Model.Count() > 0)
{
    <h1>All Departments</h1>
    <br />
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(D => D.Code)</td>
                <td>@Html.DisplayNameFor(D => D.Name)</td>
                <td>@Html.DisplayNameFor(D => D.DateOfCreation)</td>
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.DateOfCreation</td>

                    <partial name="_ButtonsPartialView" model="@department.Id.ToString()" />

                    </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">
        <h2>There Is No Department</h2>
    </div>
}
